
h1{
    font-family: Segoe UI;
}
.card{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content:space-around;
    
    width: 100%;
    
}
.Cards{
    display:flex;
    flex-direction: row;
    transition : all 1s;
    
    width: 18%;
    max-height: 40%;
}
.img-container{
    display: flex;
    
    background-color: aqua;
    
}
img{
    height: 175px;
    max-height: 100%;
}
.Cards:hover{
    transform: scale(1.2);
}