.user-inputs{
    margin:3.0em;
    font-size: 20px;
    height: 20px;
}
.botao{
    margin: 3.0em;
    font-size: 20px;
    
    align-items: center;
}
.espaço-para-cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
}
